version: "3.9"
services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: panel
    ports: ["5432:5432"]
    volumes: [ "db:/var/lib/postgresql/data" ]
  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]
volumes:
  db:
